name: Deploy to AWS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy via SSH
      run: |
        ssh -o StrictHostKeyChecking=no -i ${{ secrets.AWS_SSH_KEY }} ubuntu@${{ secrets.AWS_HOST }} << 'EOF'
          cd ~/my-api
          git reset --hard HEAD
          git pull origin main
          
          sudo docker build -t myapi .
          sudo docker stop myapi || true
          sudo docker rm myapi || true
          sudo docker run -d -p 80:5000 --name myapi myapi
        EOF
      shell: bash
